.block-width {
  min-width: 580px;
  max-width: fit-content;
}

@media only screen and (max-width: 600px) {
  .block-width {
    min-width: 480px;
    max-width: fit-content;
  }
}

@media only screen and (max-width: 500px) {
  .block-width {
    min-width: 370px;
    max-width: fit-content;
  }
}

@media only screen and (max-width: 400px) {
  .block-width {
    min-width: 340px;
    max-width: fit-content;
  }
}

@media only screen and (max-width: 320px) {
  .block-width {
    min-width: 290px;
    max-width: fit-content;
  }
}
